* {
  color: darkslategray !important
}

body {
  overflow-y:hidden
}

button.ui.button.primaryBtn {
  color: white !important;
  background-color: tomato;
}

button.ui.button.margin30 {
  margin-bottom: 30px
}

button.ui.button.metaBtn{
  color: #F0F2EB !important;
   background-color: #6b7f87;
   margin-bottom: -15px; 
   height: 48px;
}
.ui.button:not(.icon)>.right.icon:not(.button):not(.dropdown){
  color: white !important
}



.yellow {
  background-color: white;
  padding: 12px;
  margin: 0px;
}

.menuText {
  color: black;
  font-weight: bold;
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    height: 100%;
    width: 100%
}
.ui.container.overlay {
    position:absolute;
    top:10%;
    left:60%;
    z-index:1;
    margin-left:-100px !important;
}

.ui.inverted.header {
  color: #F0F2EB !important;
}

.modalHeader {
  color: white !important
}

.modalText {
  color: tomato !important
}

.modalSubText{
  color: white !important
}

.modalLink{
  color: tomato !important;
  text-decoration: underline
}

.menuItem{
  font-size: large;
  font-weight: bold
}

.logo {
  font-size: x-large;
  font-family: monospace;
  color: tomato !important;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
